.grid-container {
  display: grid;

  .text-smaller {
    font-size: 0.8em;
  }

  @media (min-width: 992px) {
    flex-direction: column;
    grid-template-columns: 1fr 1fr;

    .actionable-container {
      height: 100vh;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .image-container {
      height: 100vh;
    }
  }

  .image-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
