$largeAvatar: 110px;
$smallAvatar: 70px;

.rank {
  font-size: 1.2em;
  margin-right: 0.4em;
}
.money {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;

  .obfuscate {
    text-shadow: 0 0 11px white;
    color: transparent;
  }

  &.md {
    margin-left: calc(1.5em + calc((#{$largeAvatar} - #{$smallAvatar}) / 2));
  }

  &.dead {
    color: #8a8a8a;
  }
}
.skull {
  margin-left: 0.6em;
  font-size: 2em;
}
.trophy {
  margin-left: 0.6em;
  font-size: 3.5em;
}
