.drawer {
  color: #393d4e;
  font-weight: 300;
  font-size: 1.5em;
  & > div {
    border-radius: 14px 14px 0 0;
  }
}
#newQuestion {
  width: 100%;
  text-align: center;
  font-size: 0.7em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #393d4e;
}
.submitButton {
  margin-left: 1em;
  font-weight: 400;
}
