.grid {
  display: grid;
  grid-template-columns: auto;
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: auto minmax(40%, auto);
    grid-column-gap: 40px;
  }

  .new-question-button {
    grid-column-start: span 2;
  }
}

#leave-game {
  position: absolute;
  top: 8px;
  right: 8px;
}
