.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #393d4e;
  color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0.6em;
}
